body
{
	background-color: #c3c3c3;
	font-size:15px;
	font-family:courier;
	margin:0;
}


.box_1
{
	background-color: #D3D3D3;
	color: #333;
	margin: auto;
	border :1px black solid;
	padding: 20px;
}

.box_1 h1
{
	font-family:Arial;
	font-weight: 800;
	font-style: italic;
	text-decoration: underline;

}

.catagories
{
	border: 2px #333 solid;
	padding: 10px;
	margin: auto;
	width: 60%;

}

.catagories h2
{
	text-align: center;
	font-family: arial;
}


img 
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}


a{
	text-decoration: none;
	color:#808000;
}

a:hover{
	color: red;
}
